/*FORMULAIRE */

body.form{
    margin: 0 auto;
    background:url(https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29ya3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80)  ;
    background-size:cover;
}


h1#titreform{
    display: flex;
    justify-content: center;
    background-color: rgb(153, 114, 28);
    padding: 20px; ;  
}

div.formulaire{
    position: absolute;
    left: 800px;
    color: white;
    background-color:rgb(153, 114, 28);
    border-radius: 15px;
    height: 80px;
    padding: 30px;
} 

button#boutonform{
    position: relative;
    left: 50px;
    top: 10px;
    border-radius: 10px;
}


/*AGENDA */


body.agenda{
    margin: 0 auto;
}


header.agenda{
    display: flex;
    justify-content: center;
    height: 70px;
    color: white;
    background-color: rgb(3, 3, 3);
}  

table.agenda{
    display: flex;
    justify-content: center;
    background:url(https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29ya3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80)  ;
    border-collapse: collapse;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}   

td{
    border:2px solid black;
    padding: 7.20px;
    width: 170px;
    background-color: rgb(255, 255, 255);
}   

tr.reveil{
    color: rgb(255, 38, 0);  
}

tr.repas{
    color: rgb(255, 38, 0);
}

form.boutonagenda{
    display: flex;
    justify-content:center ;
    background: rgb(3, 3, 3);
    
}



